
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body{

    background-color: var(--background);
    font-size: 16px;
    color: var(--text-color);
    font-family: "Figtree", sans-serif;
 
}

.image img {
color: #ccc !important;
}

 .btn svg{
    fill: var(--text-color)!important;
}

:root{
    --background:rgb(31, 31, 31);
    --text-color:rgb(0, 0, 0);
    --content-color:#ffffff;
    --search-color:rgb(230, 245, 251);

}

.dark-theme{
    --background:rgb(28, 30, 32);
    --text-color:rgb(255, 255, 255);
    --content-color:#000000;
    --search-color:rgb(28, 30, 32);

}
.container{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
    
.content{
    border-radius: 20px;
    width: 25%;
    height:65%;
    display: grid;
    place-items: center;
    grid-template-rows:1fr 3fr 2fr ;
    background-color: var(--content-color);
}

/* search */
.row{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.form{
    /* background-color: black; */
    width: 100%;
   /* height: 100%; */
   display: flex;
   justify-content: center;
   align-items: start;
   
   
}


.form input{
    border: 0;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    margin: 0 auto;
    
    width: 80%;
    background-color:var(--search-color);
    float: left;
    
}
.form input[type="search"] {
    font-size: 18px; 
    color: var(--text-color) !important;
}


.btn{
    width: 40px;
    height: 40px;
    border:0;
    margin-left: 10px;
    border-radius: 50px;
    background-color: var(--search-color);


}

/* image  */

.row1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    /* place-items: center;     */
    justify-items: center;
    margin-top: 10px;   
}

.image{
    width:200px;
    
}

.text-content{
    width:200px;
    height: 100px;
    
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{
    text-align: center;
    margin-bottom: 0;
}
h2{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.row2{
         display: grid; 
    margin-top:30px;
    height: 100%;
    grid-template-columns:repeat(2,1fr); 
    grid-template-rows: 1fr;
    width: 100%;
    place-items: center;
    
}
h3{
    margin-bottom: 0;
}
p{
    margin-top: 0;
}

.wind-speed,.humidity{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.humidity-image
{
    width: 30px;
    margin-top: 5px;
}
.wind-speed-image{
    width: 50px;
    margin-bottom: 5px;
   
}
.humidity-text{
    margin-left: 3px    ;
}
.wind-speed-text{
    
    margin-left: 5px;
}
.wind-speed-image img,.humidity-image svg{
    width: 90%;
    height: 100%;
    object-fit:contain;
    
}

.humidity-image svg{
    fill: var(--text-color);
}


@media (max-width: 613px) {
    .content {
        width: 90%;
        height: auto;
    }
  }
  @media (min-width: 614px) and (max-width: 767px) {
    .content {
        width: 60%;
        height: auto;
     
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .content {
        width: 43%;
        height: auto;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .content {
        
        width: 35%;
        height: auto;
    }
  }
  

  /* day-night-toggle */

  
.day-night{
   display: flex;
   justify-content: end;
}
.switch{
    margin-right: 20px;
  position:relative;
  display:inline-block;
  width:60px;
  height:34px;
}

.switch input{
  opacity:0;
  width:0;
  height:0;
}

.slider{
  position:absolute;
  cursor:pointer;
  inset:0;
  background-color:#ccc;
  border-radius:25px;
  transition: 0.4s;
}

.slider:before{
  width:26px;
  height:26px;
  background-color:white;
  border-radius:50%;
  position:absolute;
  left: 4px;
  bottom: 4px;
  content:"";
  transition:0.4s;
  background-image: url("./images/moon.svg");
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
}

.switch input:checked +.slider{
  background-color: #2196F3;
}

.switch input:checked + .slider:before{
  transform :translateX(26px);
   background-color:black;
   background-image: url("./images/clear.png");
   background-position:0px -2px;
 
}
.switch input:checked ~ .container{
    background-color: #111111;
}